{{!-- <div class="container  s6 card-panel #f3e5f5 purple lighten-5" >
<h6 ><font color="purple" >EAT DA BURGER!!!  </h6>
 </div> --}}
{{!-- input form for burger name --}}

 <div class="container card-panel #f3e5f5 purple lighten-5" >
   <form action="/create" method="POST" class="button-size">
    <div class="file-field input-field">
      <input value="" id="burger_name" type="text" class="validate">
      <label class="active" for="burger_name">Burger Name</label>
      <input type ="submit" class ="btn waves-effect waves-light" value = "Submit"/>
    </div>
</form>
 </div>
<div class="row">


  {{! Burgers to eat}}

  <div class="col s3 center-align">
    <ul>
      {{#each brgr}}
        {{#unless this.devoured}}
          <div class="card-panel #f3e5f5 purple lighten-5">
            <p>
              {{this.id}}. {{this.burger_name}}

              <form action="update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="1">
                <input type ="submit" class ="btn waves-effect waves-light" value = "devour it"/>
              </form>
  
            </p>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  
