
{{!-- input form for burger name --}}
   
 <div class="container card-panel #f3e5f5 purple lighten-5" >

   {{! Grabing the user burger input and posting to /create Route}}

     <form action="/create" method="POST" class="button-size">

          <div class="file-field input-field" >

               <input  name="burgerInput">
               <label class="active" for="burgerInput">Burger Input</label>
               <input type ="submit" class ="btn waves-effect waves-light" value = "Submit"/>

          </div>

     </form>

 </div>

<div class="row">


  {{! Listing all the burgers to be devour it from the database}}

  <div class="col s3 center-align">
    <ul>
      {{#each brgr}}
       
          <div class="card-panel #f3e5f5 purple lighten-5">
         
              {{this.id}}. {{this.burger_name}}

              <form action="update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured">
                <input type ="submit" class ="btn waves-effect waves-light"  value = "Devour it"/>

              </form>
  
           
          </div>
     
      {{/each}}
    </ul>
  </div>

 